
body{
  background-color: aliceblue;
.button{
  width: 60px;
  height: 60px;
  background-color: transparent;
  color:brown;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 22px;
  margin: 10px;
  box-shadow: -4px -4px 10px rgba(201, 201, 201, 0.363);
}
::placeholder{
  color: white;
}
#sym{
  color: rgb(4, 218, 4);
}
#equal{
  background-color: rgb(255, 157, 0);
}}